<h1>物件登録</h1>
<%= form_with(model: @property, local: true) do |form| %>
  <div class="property_name">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div class="property_rent">
    <%= form.label :rent %>
    <%= form.text_field :rent %>
  </div>
  <div class="property_address">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>
  <div class="property_age">
    <%= form.label :age %>
    <%= form.text_field :age %>
  </div>
  <div class="property_remarks">
    <%= form.label :remarks %>
    <%= form.text_field :remarks %>
  </div>
  <%= form.fields_for :stations do |s| %>
  <strong>最寄り駅1</strong><strong>最寄り駅2</strong>
    <div class="station_line">
      <%= s.label :line %>
      <%= s.text_field :line %>
    </div>
    <div class="station_nearest_station">
      <%= s.label :nearest_station %>
      <%= s.text_field :nearest_station %>
    </div>
    <div class="station_on_foot">
      <%= s.label :on_foot %>
      <%= s.text_field :on_foot %>
    </div>
  <% end %>
    <%= form.submit %>
<% end %>
<%= link_to "戻る", properties_path %>
